dn: ou=People,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: People

dn: ou=Groups,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: Groups

dn: ou=Services,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: Services

dn: ou=Sudoers,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: Sudoers
