---
common_packages:
  - vim
  - curl
  - wget
  - htop
  - tmux
  - git
  - unzip
  - ca-certificates
  - python3
  - python3-pip

timezone: UTC

ssh_config:
  PermitRootLogin: "no"
  PasswordAuthentication: "no"
  PubkeyAuthentication: "yes"
  X11Forwarding: "no"
