---
vault_ldap_admin_password: "CHANGE_ME_SECURE_PASSWORD"
vault_ldap_config_password: "CHANGE_ME_SECURE_PASSWORD"
vault_ldap_readonly_password: "CHANGE_ME_SECURE_PASSWORD"
vault_krb5_admin_password: "CHANGE_ME_SECURE_PASSWORD"
vault_samba_admin_password: "CHANGE_ME_SECURE_PASSWORD"
